{
    "env": {
        "production": {
            "presets": [
                "razzle/babel"
            ],
            "plugins": [
                "@loadable/babel-plugin"
            ]
        },
        "development": {
            "presets": [
                "razzle/babel"
            ],
            "plugins": [
                "@loadable/babel-plugin",
            ]
        }
    }
}